{% load static %}
<!Doctype html>
<html>
	<head>

	</head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title></title>
		<!-- <link rel="stylesheet" href="css/userprofile.css"> -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/userprofile.css' %}">
		<!--Import Google Icon Font-->
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--Import materialize.css-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
		<!--Import Google Icon Font-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	
		<!-- Compiled and minified JavaScript --> 
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

		<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

	<body>
	  <nav style="background-color: rgba(33,37,41, 0.35);">
	    <div class="nav-wrapper">
	      <a href="/" class="brand-logo"><i class="material-icons"></i>HelpOff</a>
	      <ul class="right hide-on-med-and-down">
	      	<li><a href="{% url 'chat' %}"><i class="material-icons left">chat</i>Chat</a></li>
	      	<li><a href="{% url 'fun' %}"><i class="material-icons left">insert_emoticon</i>Let's have Fun</a></li>
	      	<li><a href="{% url 'motivate' %}"><i class="material-icons left">spa</i>Motivate Yourself</a></li>
	        <li><a href="{% url 'login' %}"><i class="material-icons left">input</i>Login</a></li>
	       	<li><a href="{% url 'signup' %}"><i class="material-icons left">perm_identity</i>SignUp</a></li>
	      </ul>
	    </div>
	  </nav>


			
	<div class="container">
		<div class="col s12 ">
			<h2 class="header" style="text-align: center;">Jokes</h2>
			</div>
				</div>
				<!-- </div> -->
				<div class="container">
					<div style="float: left;">
					<p><b>{{ setup }}<b></p>
					<p><b>{{ setup }}<b></p>
					</div>
					<div style="float: left; margin-left: 20%;margin-top: 20%;">
				<form   method="POST"> {% csrf_token %}
				<button class="btn waves-effect waves-light" type="submit" name="action" style="width: 100%" >Need One More!</button>	
				</form>
				</div>
				</div>

			</div>
							  
							  
		
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

</body>
</html>