{% load static %}
<!Doctype html>
<html>
	<head>

	</head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title></title>
		<!-- <link rel="stylesheet" href="css/userprofile.css"> -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/userprofile.css' %}">
		<!--Import Google Icon Font-->
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--Import materialize.css-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
		<!--Import Google Icon Font-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	
		<!-- Compiled and minified JavaScript --> 
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

		<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

	<body>
	
	<input type="checkbox" id="secret-checkbox"/>

	<div class="navbar-fixed">
		<nav style="background-color: #fff">
			<div class="nav-wrapper">
				<a href="#" class="brand-logo center" style="color:#000;font-family: 'Lobster', cursive;">HelpOff</a>
				
				<ul class="right">
					<li><a href="{% url 'logout' %}" style="color:#000">Log Out</li>
				</ul></a>
			</div>
		</nav>

			
	<div class="container">
		<div class="col s12 ">
			<h2 class="header">{{ username }}</h2>
			</div>
				</div>
				<!-- </div> -->
				<div class="container">
					<h2>
						<small>Get some <b>M</b>otivation</small>
					</h2>
					<div class="row">
					    <div class="col s12 m6 offset-m4">					  
							  <button>Motivational Quotes</button>
							  <button>Jokes</button>
							  <button>Motivational Videos</button>
							  <button>Motivational Stories</button>
							  
						</div> 
					</div>
				</div>
							  
							  
		
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
</body>
</html>